<section class="o-apartments">
	<div class="container">
		<div class="row">
			<div class="col-12 col-lg-6 d-flex flex-column align-items-center">
				<div class="o-apartments__content">
					<h2 class="text-white text-primary mb-4">Projektet</h2>
					<p class="text-white text-primary mb-4">
						Willkommen in der Zukunft des Wohnens! Unsere revolutionären neuen Eigentumswohnungen ENA Residence bieten Ihnen ein Leben voller Komfort und Luxus. Mit Smart Home-Technologie, die Ihre Wohnung automatisch an Ihre Bedürfnisse anpasst, können Sie sich entspannen und das Leben genießen. Unsere Wohnungen sind auch umweltfreundlich und nachhaltig, mit Solarenergie, Regenwasserauffangsystemen und energiesparenden Geräten. Die Gemeinschaftsräum werden Sie lieben, darunter Dachterrassen, Fitnessstudios und Gemeinschaftsräume für Veranstaltungen und Versammlungen. ENA Residence befindet sich in aufstrebenden Stadtteilen und in der Nähe von wichtigen Verkehrsknotenpunkten, um Ihnen ein bequemes und modernes, ausgeglichenes Leben zu ermöglichen.
					</p>
					
				</div>
			</div>
		
			<div class="card bg-light">
				<img src="../images/standards-image-4.webp" alt="Ena Residence" class="card-img-top">
				<div class="card-body">
					<h4 class="text-white card-title text-left">Ena Residence</h4>
					<p class="text-white card-text text-left">Discover the beauty of Ena Residence.</p>
					<a href="https://www.ena-residence.com/" target="_blank" class="a-btn-default d-flex flex-row align-items-center justify-content-center mt-3">
						See the project
					</a>
				</div>
			</div>
		</div>
	</div>
</section>