<section class="o-intro vh-100 w-100" style="background: linear-gradient(#27345E, #18203A);">
	<div class="container">
		<div class="row justify-content-center">
            <div style="text-align: center;">
                <img style="display: block; margin: auto;" width="260px" height="auto" src="../images/G&amp;A_Logo_Weiß.svg" alt="">
              </div>
        </div>
		<div class="row justify-content-center">
			<div class="col-10 col-md-5">
				<h3 class="text-white text-center font-manrope--regular mb-0">
					 Ku stili jetësor takon elegancën dhe cilësinë në çdo detaj!
				</h3>
			</div>
		</div>
	</div>
	<button class="o-intro__scroll-down bg-transparent border-0 d-flex flex-column align-items-center" id="scroll-down-btn">
		<figure class="mb-2">
			<img width="15" height="16" src="../images/down-arrow-white.svg" alt="" />
		</figure>
		<small class="text-uppercase text-white">Shiko më poshtë</small>
	</button>
</section>
